<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>DemocraDJ</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="/vendor/css/base.css">
    <link rel="stylesheet" href="/vendor/css/skeleton.css">
    <link rel="stylesheet" href="/vendor/css/layout.css">

    <!-- Favicons
    ================================================== -->
    <!--<link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">-->

    <script type="text/javascript" src="/vendor/js/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/js/projekktor.min.js"></script>
    <link rel="stylesheet" href="/vendor/theme/style.css" type="text/css" media="screen" />

</head>
<body>

    <!-- Primary Page Layout
    ================================================== -->

    <!-- Delete everything in this .container and get started on your own site! -->

    <div class="container">
        <div class="sixteen columns">
            <h1 class="remove-bottom" style="margin-top: 40px">DemocraDJ</h1>
            <h5>The democractic office DJ</h5>
            <hr />
        </div>
        [% content %]
    </div><!-- container -->

    <!-- JS
    ================================================== -->
    <script src="/vendor/js/tabs.js"></script>

    <!-- End Document
    ================================================== -->
</body>
</html>

<script type="text/javascript">
$(document).ready(function() {
    projekktor('#player', {
        debug: 'consol',
        useYTIframeAPI: false,
        width: 640,
        height: 385,
        controls: true,
        autoplay: true,
        playlist: [{0:{src:'/api/playlist', type:"text/json"}}]
    });
});
</script>

<script type="text/javascript">
    $(document).ready(function() {
        playlist();
    });

    function playlist() {
        $.getJSON('/api/playlist', function(data) {
            var items = [];
            $.each(data, function(key, val) {
                items.push('<li id="' + key + '">' + val[0].src + '</li>');
            });

            $('<ul/>', {
                'class': 'my-new-list',
                html: items.join('')
            }).appendTo('#playlist');
        });
    }

    $("#togglePlaylist").click(function () {
        $("#playlistContainer").toggle("slow");
    });
    $("#toggleSearch").click(function () {
        $("#searchContainer").toggle("slow");
    });

$(document).ready(function() {

    $('#search').click(function () {
        // FIXME is there a nicer way of getting this?
        var query = document.search.query.value;
        // FIXME if defined quuery...
        $.post( '/search', { search: query }, function(data) {
            var items = [];
            $.each(data, function(key, val) {
                // continue if val !~ /.*\s-\s.*/
                items.push(
                    '<li>' + val.title +
                    ' - <a href="#">Add to queue</a> </li>'
                );
            });

            // FIXME delete previous search results
            $('<ul/>', {
                'class': 'my-new-list',
                html: items.join('')
            }).appendTo('#searchResults');
        });
    });
});


    </script>
    </body>
</html>
